.carousel {
    display: flex;
    gap: 1vw;
    width: 48vw;
    max-width: 700px;
    margin-top: 5vh;
    overflow: hidden;
    border-radius: 12px;
}

.carousel img {
    width: 50%;
    height: auto;
    display: block;
}